.menu-view {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    background-color: var(--main-background-color);
    margin:50px auto;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.menu-view-container {
    position: relative; /* Cambia a relative para manejar el posicionamiento de los hijos */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    width: 100%;
    height: calc(100% - 10px); /* Ajusta la altura para dejar espacio para el logo */
    overflow: hidden;
    margin-top: 10px; /* Desplaza hacia abajo para dejar espacio al logo */
    flex-direction: column;

    box-sizing: border-box;
}

.menu-view-column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 10px; /* Espacio entre las columnas y filas */
    width: 80%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

   
}

.menu-view-menu-logo {
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    width: 100%;
    height: 181px;
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    
}

.play-button-container {
    width: 80%;
    margin: 0 auto;
    justify-content: center; /* Centra el botón "Play" horizontalmente */
    padding: 20px 0; /* Añade espacio de padding alrededor del botón */
    background-color: var(--main-background-color); /* Mantén el mismo color de fondo */
    box-sizing: border-box;
   
}

.buttonMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: var(--button-background-color);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.buttonMenu:hover{
    background-color:#b71769;

}



@media (min-width: 320px) and (max-width: 600px) {


    .menu-view-column-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }



}

@media (min-width: 320px) and (max-width: 420px) {
    .menu-view {
        width: 100%;
        margin: 0 !important; 
    }

    .buttonMenu{
        width:75px;
        display: flex;
        justify-content: center;
        margin:0 auto;
    }

}  

@media (min-width: 421px) and (max-width: 480px) {
    .menu-view {
        width: 100%;
        margin: 0 !important; 
    }

    .buttonMenu{
        width:115px;
        display: flex;
        justify-content: center;
        margin:0 auto;
    }

}

@media (min-width: 481px) and (max-width: 600px) {
    .menu-view {
        width: 100%;
        margin: 0 !important; 
    }
    
    .buttonMenu{
        width:115px;
        display: flex;
        justify-content: center;
        margin:0 auto;
    }

}

@media (min-width: 601px) and (max-width: 699px) {
    .menu-view {
        width: 95%;

    }

}

@media (min-width: 700px) and (max-width: 799px) {
    .menu-view {
        width: 80%;

    }

}


@media (min-width: 800px) and (max-width: 1380px) {
    .menu-view {
        width: 90%;

    }

}

